PORT=3001
NODE_ENV=development
DATABASE_URL=postgresql://postgres:senha@localhost:5432/petvibe
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=petvibe
DB_USER=postgres
DB_PASSWORD=senha
DB_DIALECT=postgres
CORS_ORIGIN=http://localhost:5500
